
.name-update {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 258px;
  height: 400px;
  left: 31px;
  top: 30px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 32px;

  .search-box {
    margin-bottom: 5px;
  }

  .display-title {
    font-size: 14px;
    text-align: center;
    color: #7F7F7F;
  }
  .display-desc {
    margin-top: 0;
    font-size: 11px;
    text-align: center;
    color: #7F7F7F;
  }
  .display-names {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 226px;
    height: 276px;
    background: #C4C4C4;
    margin-bottom: 5px;
    overflow-y: scroll;
  }

    .student-names {
      margin: 5px;
      width: 211px;
      height: 25px;
      background: #FFFFFF;
      border: 1px solid rgba(0, 0, 0, 0.2);
      box-sizing: border-box;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      padding-left: 5px;
      color: #7F7F7F;
    }
      input {
        background: #7F7F7F;
      }
}