.custom-button { 
    min-width: 165px;
    width: auto;
    height: 40px;
    font-size: 0.8rem;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F5F5F5;
    mix-blend-mode: normal;
    opacity: 0.24;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    margin-bottom: 15px;
  
    &:hover { 
      background-color: white;
      color: black;
      border: 1px solid black;
    }
    

    &.google-sign-in {
      margin-bottom: 9px;
    }

      &:hover {
        background-color: #000000;
        color: white;
        border: none;
      }
      
    &.inverted {
      background-color: white;
      color: black;
      border: 1px solid black;
    }
      
      &:hover {
        background-color: black;
        color: white;
        border: none;
      }
}
.next-btn {
  color: white;
  width: 137px;
  height: 29.08px;
  background: #AEBC30;
  mix-blend-mode: normal;
  border: 1px solid #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.dashboard-btn {
  font-size: 11px;
  width: 100px;
  height: 20px;
  border-radius: 2px;
}

.dashboard-btn-profile {
  border-radius: 2px;
  font-size: 7px;
  width: 20vw;
  height: 14px;
}